public/app/restaurants/restaurant-list/restaurant-list.jade
.container.top-padding-med.margin-top
  .pull-right
    form.form-inline
      .form-group
        input.form-control(ng-model="searchText", placeholder="Filter")
      .form-group.margin-left-med
        select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
  table.table.table-hover.table-striped.table-condensed
    thead
      tr
        th Pavadinimas
        th Platuma
        th Ilguma
        th
    tbody
      tr(ng-repeat="restaurant in restaurants | filter:searchText | orderBy:sortOrder")
        td
          a(ng-click='goToDetails(restaurant._id)' style="cursor:pointer") {{restaurant.name}}
        td {{restaurant.location.latitude}}
        td {{restaurant.location.longitude}}
        td
          span(ng-click="removeRestaurant(restaurant)").glyphicon.glyphicon-remove
  button(ng-if="identity.currentUser.isAdmin()", ng-click="goToCreate()").btn.btn-default Sukurti

public/app/restaurants/restaurant-list/restaurant-list.html
<div class="container top-padding-med margin-top"><div class="pull-right"><form class="form-inline"><div class="form-group"><input ng-model="searchText" placeholder="Filter" class="form-control"/></div><div class="form-group margin-left-med"><select ng-model="sortOrder" ng-options="item.value as item.text for item in sortOptions" class="form-control"></select></div></form></div><table class="table table-hover table-striped table-condensed"><thead><tr><th>Pavadinimas</th><th>Platuma</th><th>Ilguma</th><th></th></tr></thead><tbody><tr ng-repeat="restaurant in restaurants | filter:searchText | orderBy:sortOrder"><td><a ng-click="goToDetails(restaurant._id)" style="cursor:pointer">{{restaurant.name}}</a></td><td>{{restaurant.location.latitude}}</td><td>{{restaurant.location.longitude}}</td><td><span ng-click="removeRestaurant(restaurant)" class="glyphicon glyphicon-remove"></span></td></tr></tbody></table><button ng-if="identity.currentUser.isAdmin()" ng-click="goToCreate()" class="btn btn-default">Sukurti</button></div>
