server/views/index.html
<!DOCTYPE html><html><head><meta charset="utf-8"><title>Wheretogo</title><meta name="viewport" content="width=device-width, initial-scale=1"><link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"><link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css"><link rel="stylesheet" href="/vendor/toastr/toastr.css"><link rel="stylesheet" href="/css/site.css"></head><body ng-app="app"><nav role="navigation" class="navbar navbar-default navbar-fixed-top"><div class="container"><div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">WhereToGo</a></div><center><div id="navbar-main" class="navbar-collapse collapse"><div ng-include="'/partials/account/navbar-login'"></div></div></center></div></nav><section class="content"><div ng-view></div></section><footer class="container text-center"><p>&copy; 2015 WhereToGo</p></footer><script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script><script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js"></script><script type="text/javascript" src="/vendor/toastr/toastr.js"></script><script type="text/javascript" src="/vendor/angular/angular.js"></script><script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script><script type="text/javascript" src="/vendor/angular-route/angular-route.js"></script><script type="text/javascript" src="/vendor/angular-google-maps/dist/angular-google-maps.js"></script><script type="text/javascript" src="/vendor/lodash/dist/lodash.js"></script><script type="text/javascript" src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script><script type="text/javascript" src="/app/app.js"></script><script type="text/javascript" src="/app/common/directives/facebook-like-directive.js"></script><script type="text/javascript" src="/app/common/directives/mvGoogleMapDirective.js"></script><script type="text/javascript" src="/app/common/directives/mvNoImageDirective.js"></script><script type="text/javascript" src="/app/common/resources/mvRestaurantCategoriesResource.js"></script><script type="text/javascript" src="/app/common/services/mvRestaurantCategoriesService.js"></script><script type="text/javascript" src="/app/common/services/customDirectionsService.js"></script><script type="text/javascript" src="/app/main/mvMainCtrl.js"></script><script type="text/javascript" src="/app/account/mvNavBarLoginCtrl.js"></script><script type="text/javascript" src="/app/account/mvIdentity.js"></script><script type="text/javascript" src="/app/common/mvNotifier.js"></script><script type="text/javascript" src="/app/account/mvAuth.js"></script><script type="text/javascript" src="/app/account/mvUser.js"></script><script type="text/javascript" src="/app/account/mvSignupCtrl.js"></script><script type="text/javascript" src="/app/account/mvProfileCtrl.js"></script><script type="text/javascript" src="/app/admin/mvUserListCtrl.js"></script><script type="text/javascript" src="/app/common/resources/mvReviewResource.js"></script><script type="text/javascript" src="/app/restaurants/mvReviewService.js"></script><script type="text/javascript" src="/app/common/resources/mvRestaurantResource.js"></script><script type="text/javascript" src="/app/restaurants/mvCachedRestaurants.js"></script><script type="text/javascript" src="/app/restaurants/mvRestaurantService.js"></script><script type="text/javascript" src="/app/restaurants/restaurant-list/mvRestaurantListCtrl.js"></script><script type="text/javascript" src="/app/restaurants/restaurant-details/mvRestaurantDetailCtrl.js"></script><script type="text/javascript" src="/app/restaurants/mvRestaurantCreateService.js"></script><script type="text/javascript" src="/app/restaurants/restaurant-create/mvRestaurantCreateCtrl.js"></script><script type="text/javascript" src="/app/restaurants/restaurant-edit/mvRestaurantEditCtrl.js"></script><script type="text/javascript" src="/common/scripts/headScript.js"></script></body></html>

server/views/index.jade
extends ../includes/layout
block main-content
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') WhereToGo
            center
                #navbar-main.navbar-collapse.collapse
                    div(ng-include="'/partials/account/navbar-login'")
    section.content
        div(ng-view)
    footer.container.text-center
        p &copy; 2015 WhereToGo
