public/app/common/directives/mvGoogleMapDirectiveTemplate.html
<ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="map.dragging" bounds="map.bounds" events="map.events" pan="true" options="map.options" control="map.control"><ui-gmap-marker idkey="currentLocation.id" coords="currentLocation.coords" click="currentLocation.onClick" icon="currentLocation.icon"><ui-gmap-window options="currentLocation.windowOptions" closeClick="currentLocation.closeClick()"><div>Tu čia!</div></ui-gmap-window></ui-gmap-marker><ui-gmap-marker ng-repeat="marker in map.markers | filter:search | filter: filterTags | filter: filterByDistance" idKey="marker.id" coords="marker.coords" icon="marker.icon" click="marker.onClick"><ui-gmap-window options="marker.windowOptions" closeClick="marker.closeClick()"><div class="panel"><div class="panel-heading"><h3 class="panel-title">{{marker.data.name}}</h3></div><div class="panel-body"><div class="row"><div class="col-md-6"><div><img ng-src="{{marker.data.pictureUrl}}" alt="restaurantPicture" height="120px" width="120px" err-src="/noImage.png"/></div></div><div class="col-md-6"><div ng-show="!$parent.isDetailsMode" style="margin-top:5px"><button type="button" ng-click="$parent.goToDetails('{{marker.data.id}}')" class="btn btn-default">Plačiau</button></div><div style="margin-top:5px"><button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-default dropdown-toggle">Maršrutas<span class="caret"></span></button><ul role="menu" class="dropdown-menu"><li><a ng-click="$parent.calcRoute('{{marker.coords.latitude}}', '{{marker.coords.longitude}}', 'WALKING')">Pėsčiomis</a></li><li><a ng-click="$parent.calcRoute('{{marker.coords.latitude}}', '{{marker.coords.longitude}}', 'DRIVING')">Automobiliu</a></li><li class="divider"><li><a ng-click="$parent.redirectToGoogleMaps('{{marker.coords.latitude}}', '{{marker.coords.longitude}}')">Pažymėti Google puslapyje</a></li></li></ul></div></div></div></div></div></ui-gmap-window></ui-gmap-marker></ui-gmap-google-map>

public/app/common/directives/mvGoogleMapDirectiveTemplate.jade
ui-gmap-google-map(center="map.center", zoom="map.zoom", dragging="map.dragging", bounds="map.bounds", events="map.events", pan="true", options="map.options", control="map.control")
    ui-gmap-marker(idkey="currentLocation.id", coords="currentLocation.coords", click="currentLocation.onClick", icon="currentLocation.icon")
        ui-gmap-window(options="currentLocation.windowOptions", closeClick="currentLocation.closeClick()")
            div Tu čia!
    ui-gmap-marker(ng-repeat="marker in map.markers | filter:search | filter: filterTags | filter: filterByDistance", idKey="marker.id", coords="marker.coords", icon="marker.icon", click="marker.onClick")
        ui-gmap-window(options="marker.windowOptions", closeClick="marker.closeClick()")
            div.panel
                div.panel-heading
                    h3.panel-title {{marker.data.name}}
                div.panel-body
                    .row
                        div.col-md-6
                            div
                                img(ng-src="{{marker.data.pictureUrl}}", alt="restaurantPicture", height="120px" width="120px", err-src="/noImage.png")
                        div.col-md-6
                            div(ng-show='!$parent.isDetailsMode', style="margin-top:5px")
                                button.btn.btn-default(type='button', ng-click="$parent.goToDetails('{{marker.data.id}}')") Plačiau
                            div(style="margin-top:5px")
                                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                    | Maršrutas
                                    span.caret
                                ul.dropdown-menu(role='menu')
                                    li
                                        a(ng-click="$parent.calcRoute('{{marker.coords.latitude}}', '{{marker.coords.longitude}}', 'WALKING')") Pėsčiomis
                                    li
                                        a(ng-click="$parent.calcRoute('{{marker.coords.latitude}}', '{{marker.coords.longitude}}', 'DRIVING')") Automobiliu
                                    li.divider
                                        li
                                            a(ng-click="$parent.redirectToGoogleMaps('{{marker.coords.latitude}}', '{{marker.coords.longitude}}')") Pažymėti Google puslapyje
