public/app/restaurants/restaurant-details/restaurant-details.html
<div ng-show="showMap" class="row"><col-lg-12><mv-google-map-directive restaurants="restaurants" is-details-mode="true" current-location="currentLocation" show-map="showMap"></mv-google-map-directive></col-lg-12></div><div class="container margin-top"><div class="row"><button type="button" ng-click="showMap = !showMap" class="btn btn-default center-block">Žemėlapis</button></div><hr/><div class="row"><div class="col-sm-4"><h2>{{restaurant.name}}</h2><img ng-src="{{restaurant.mainPicture.url}}" alt="restaurantPicture" err-src="/noImage.png" class="img-responsive restaurant-image"/></div><div class="col-sm-4"><h2>Darbo laikas</h2><div class="row"><div class="col-sm-8"><div><strong>Pirmadienis:&nbsp</strong><span class="hours">{{restaurant.hours.monOpen}} - {{restaurant.hours.monClosed}}</span></div><div><strong>Antradienis:&nbsp</strong><span class="hours">{{restaurant.hours.tueOpen}} - {{restaurant.hours.tueClosed}}</span></div><div><strong>Trečiadienis:&nbsp</strong><span class="hours">{{restaurant.hours.wedOpen}} - {{restaurant.hours.wedClosed}}</span></div><div><strong>Ketvirtadienis:&nbsp</strong><span class="hours">{{restaurant.hours.thuOpen}} - {{restaurant.hours.thuClosed}}</span></div><div><strong>Penktadienis:&nbsp</strong><span class="hours">{{restaurant.hours.friOpen}} - {{restaurant.hours.friClosed}}</span></div><div><strong>Šeštadienis:&nbsp</strong><span class="hours">{{restaurant.hours.satOpen}} - {{restaurant.hours.satClosed}}</span></div><div><strong>Sekmadienis:&nbsp</strong><span class="hours">{{restaurant.hours.sunOpen}} - {{restaurant.hours.sunClosed}}</span></div></div></div></div><div class="col-sm-4"><h2>Kontaktai</h2><div ng-if="restaurant.location.street &amp;&amp; restaurant.location.city"><strong>Adresas:&nbsp</strong><span>{{restaurant.location.street}}, {{restaurant.location.city}}</span></div><div ng-if="restaurant.phone"><strong>Telefonas:&nbsp</strong><span>{{restaurant.phone}}</span></div><div ng-if="restaurant.email"><strong>El. paštas:&nbsp</strong><span>{{restaurant.email}}</span></div><div ng-if="restaurant.website"><a href="restaurant.website">Svetainė</a></div><div ng-if="restaurant.facebook"><a href="restaurant.facebookLink">Facebook</a></div></div></div><hr/><div class="row"><div class="col-sm-12"><p>{{restaurant.description}}</p></div></div><hr/><div class="row"><div class="col-sm-12"><div fb-like="restaurant.facebookLink"></div></div></div><hr/><div class="row"><div class="col-sm-12"><div class="well"><div ng-show="!showReviewEdit &amp;&amp; identity.isAuthenticated()" class="text-right"><div class="btn-toolbar"><button ng-show="review.user" ng-click="removeReview()" class="btn btn-danger">Ištrinti</button><button ng-click="showReviewEdit = !showReviewEdit" ng-show="review.user" class="btn btn-success">Redaguoti</button><button ng-click="showReviewEdit = !showReviewEdit" ng-show="!review.user" class="btn btn-success">Įvertinti</button></div></div><div ng-show="showReviewEdit" class="row"><div class="col-md-12"><div class="row"><div class="col-md-12"><form role="form" name="reviewForm"><div class="form-group"><textarea ng-model="review.review" cols="50" name="comment" placeholder="Atsiliepimas" rows="5" required="required" class="form-control"></textarea></div></form></div></div><div class="row"><div class="col-md-12"><rating ng-model="review.rating" max="maxRate" readonly="false" on-leave="overStar = null" class="pull-right"></rating></div></div><div class="row"><div class="col-md-12"><div class="pull-right"><button style="margin-right: 10px;" ng-click="showReviewEdit = !showReviewEdit" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span>Atšaukti</button><button ng-click="submitReview()" ng-disabled="reviewForm.$invalid" class="btn btn-success btn-sm">Išsaugoti</button></div></div></div></div></div><div ng-repeat="review in restaurant.reviews"><hr/><div class="row"><div class="col-md-12"><rating ng-model="review.rating" max="maxRate" readonly="true" on-leave="overStar = null"></rating>{{review.user.firstName}}<span class="pull-right">{{review.dateCreated | date:'yyyy-MM-dd HH:mm'}}</span><p>{{review.review}}</p></div></div></div></div></div></div></div>

public/app/restaurants/restaurant-details/restaurant-details.jade
.row(ng-show='showMap')
    col-lg-12
        mv-google-map-directive(restaurants="restaurants", is-details-mode="true", current-location="currentLocation", show-map='showMap')
.container.margin-top
    .row
        button.btn.btn-default.center-block(type='button', ng-click="showMap = !showMap") Žemėlapis
    hr
    .row
        .col-sm-4
            h2 {{restaurant.name}}
            img(ng-src="{{restaurant.mainPicture.url}}" alt="restaurantPicture" err-src="/noImage.png").img-responsive.restaurant-image
        .col-sm-4
            h2 Darbo laikas
            .row
                .col-sm-8
                    div
                        strong Pirmadienis:&nbsp
                        span.hours {{restaurant.hours.monOpen}} - {{restaurant.hours.monClosed}}
                    div
                        strong Antradienis:&nbsp
                        span.hours {{restaurant.hours.tueOpen}} - {{restaurant.hours.tueClosed}}
                    div
                        strong Trečiadienis:&nbsp
                        span.hours {{restaurant.hours.wedOpen}} - {{restaurant.hours.wedClosed}}
                    div
                        strong Ketvirtadienis:&nbsp
                        span.hours {{restaurant.hours.thuOpen}} - {{restaurant.hours.thuClosed}}
                    div
                        strong Penktadienis:&nbsp
                        span.hours {{restaurant.hours.friOpen}} - {{restaurant.hours.friClosed}}
                    div
                        strong Šeštadienis:&nbsp
                        span.hours {{restaurant.hours.satOpen}} - {{restaurant.hours.satClosed}}
                    div
                        strong Sekmadienis:&nbsp
                        span.hours {{restaurant.hours.sunOpen}} - {{restaurant.hours.sunClosed}}
        .col-sm-4
            h2 Kontaktai
            div(ng-if="restaurant.location.street && restaurant.location.city")
                strong Adresas:&nbsp
                span {{restaurant.location.street}}, {{restaurant.location.city}}
            div(ng-if="restaurant.phone")
                strong Telefonas:&nbsp
                span {{restaurant.phone}}
            div(ng-if="restaurant.email")
                strong El. paštas:&nbsp
                span {{restaurant.email}}
            div(ng-if="restaurant.website")
                a(href="restaurant.website") Svetainė
            div(ng-if="restaurant.facebook")
                a(href="restaurant.facebookLink") Facebook
    hr
    .row
        .col-sm-12
            p {{restaurant.description}}
    hr
    .row
        .col-sm-12
            div(fb-like="restaurant.facebookLink")
    hr
    .row
        .col-sm-12
            .well
                .text-right(ng-show='!showReviewEdit && identity.isAuthenticated()')
                    .btn-toolbar
                        button.btn.btn-danger(ng-show='review.user', ng-click='removeReview()') Ištrinti
                        button.btn.btn-success(ng-click='showReviewEdit = !showReviewEdit', ng-show='review.user') Redaguoti
                        button.btn.btn-success(ng-click='showReviewEdit = !showReviewEdit', ng-show='!review.user') Įvertinti
                .row(ng-show='showReviewEdit')
                    .col-md-12
                        .row
                            .col-md-12
                                form(role='form', name='reviewForm')
                                    div.form-group
                                        textarea.form-control(ng-model='review.review', cols='50', name='comment', placeholder='Atsiliepimas', rows='5' required)
                        .row
                            .col-md-12
                                rating(ng-model='review.rating', max='maxRate', readonly='false', on-leave='overStar = null').pull-right
                        .row
                            .col-md-12
                                div.pull-right
                                    button.btn.btn-danger.btn-sm(style='margin-right: 10px;', ng-click='showReviewEdit = !showReviewEdit')
                                        span.glyphicon.glyphicon-remove
                                        | Atšaukti
                                    button.btn.btn-success.btn-sm(ng-click='submitReview()', ng-disabled='reviewForm.$invalid') Išsaugoti
                div(ng-repeat="review in restaurant.reviews")
                    hr
                    .row
                        .col-md-12
                            rating(ng-model='review.rating', max='maxRate', readonly='true', on-leave='overStar = null')
                            | {{review.user.firstName}}
                            span.pull-right {{review.dateCreated | date:'yyyy-MM-dd HH:mm'}}
                            p {{review.review}}
