public/app/admin/admin-login.html
<div style="margin-top:10px" class="container"><div class="row"><div class="col-md-6 col-md-offset-3"><div ng-if="identity.isAuthenticated()" class="text-center">Jūs jau prisijungę!</div><form role="form" name="loginForm" ng-if="!identity.isAuthenticated()" class="form-horizontal"><div class="form-group"><label for="username" class="col-sm-2 control-label">Vartotojas</label><div class="col-sm-10"><input placeholder="Vartotojas" ng-model="username" required="required" class="form-control"/></div></div><div class="form-group"><label for="password" class="col-sm-2 control-label">Slaptažodis</label><div class="col-sm-10"><input type="password" placeholder="Slaptažodis" ng-model="password" required="required" class="form-control"/></div></div><div class="form-group"><div class="col-sm-offset-2 col-sm-10"><button ng-disabled="loginForm.$invalid" ng-click="signin(username, password)" class="btn btn-success">Prisijungti</button></div></div></form></div></div></div>

public/app/admin/admin-login.jade
.container(style="margin-top:10px")
    .row
        .col-md-6.col-md-offset-3
            div(ng-if='identity.isAuthenticated()').text-center Jūs jau prisijungę!
            form.form-horizontal(role='form', name='loginForm', ng-if='!identity.isAuthenticated()')
                .form-group
                    label.col-sm-2.control-label(for='username') Vartotojas
                    .col-sm-10
                        input.form-control(placeholder='Vartotojas', ng-model='username', required)
                .form-group
                    label.col-sm-2.control-label(for='password') Slaptažodis
                    .col-sm-10
                        input.form-control(type='password', placeholder='Slaptažodis', ng-model='password', required)
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-success(ng-disabled='loginForm.$invalid', ng-click='signin(username, password)') Prisijungti
