public/app/admin/user-list.html
<div class="container margin-top"><table class="table table-hover table-striped table-condensed"><thead><tr><th>Vardas</th><th>Pavardė</th><!--th--></tr></thead><tbody><tr ng-repeat="user in users"><td>{{user.firstName}}</td><td>{{user.lastName}}</td><!--td--><!--    span(ng-click="removeUser(user)").glyphicon.glyphicon-remove--></tr></tbody></table></div>

public/app/admin/user-list.jade
.container.margin-top
    table.table.table-hover.table-striped.table-condensed
      thead
          tr
              th Vardas
              th Pavardė
              //th
      tbody
          tr(ng-repeat="user in users")
              td {{user.firstName}}
              td {{user.lastName}}
              //td
              //    span(ng-click="removeUser(user)").glyphicon.glyphicon-remove
