public/app/restaurants/restaurant-edit/restaurant-edit.jade
.container
    .well
        form.form-horizontal(name="restaurantForm")
            fieldset
                legend Restorano atnaujinimas
                .form-group
                    label.col-md-2.control-label(for="name") Pavadinimas
                    .col-md-10
                        input.form-control(name="name", type="text", placeholder="Pavadinimas", ng-model="restaurant.name", required)
                        div.error-message(ng-if="restaurantForm.name.$dirty && restaurantForm.name.$invalid")
                            span(ng-if="restaurantForm.name.$error.required") Įrašykite restorano pavadinimą
                .form-group
                    label.col-md-2.control-label(for="description") Aprašymas
                    .col-md-10
                        textarea.form-control(name="description", rows="5", type="text", placeholder="Aprašymas", ng-model="restaurant.description", required)
                        div.error-message(ng-if="restaurantForm.description.$dirty && restaurantForm.description.$invalid")
                            span(ng-if="restaurantForm.description.$error.required") Įrašykite restorano aprašymą
                .form-group
                    label.col-md-2.control-label(for="Email") El. paštas
                    .col-md-10
                        input.form-control(name="email", type="email", placeholder="Elektroninis paštas", ng-model="restaurant.email")
                        div.error-message(ng-if="restaurantForm.email.$dirty && restaurantForm.email.$invalid")
                            span(ng-if="restaurantForm.email.$error.email") Elektroninis paštas neteisingas
                .form-group
                    label.col-md-2.control-label(for="Phone") Telefonas
                    .col-md-10
                        input.form-control(name="Phone", type="text", placeholder="Telefonas", ng-model="restaurant.phone")
                .form-group
                    label.col-md-2.control-label(for="Website") Tinklalapis
                    .col-md-10
                        input.form-control(name="Website", type="text", placeholder="Tinklalapis", ng-model="restaurant.website")
                .form-group
                    label.col-md-2.control-label(for="latitude") Platuma
                    .col-md-10
                        input.form-control(name="latitude", type="text", placeholder="Platuma", ng-model="restaurant.location.latitude")
                .form-group
                    label.col-md-2.control-label(for="longitude") Ilguma
                    .col-md-10
                        input.form-control.col-md-3(name="longitude", type="text", placeholder="Ilguma", ng-model="restaurant.location.longitude")
                .form-group
                    label.col-md-2.control-label(for="facebookId") Facebook ID
                    .col-md-10
                        input.form-control.col-md-3(name="facebookId", type="text", placeholder="Facebook ID", ng-model="restaurant.facebookId")
                .form-group
                    label.col-md-2.control-label(for="monOpen") Pirmadienis
                    .col-md-2
                        input.form-control(name="monOpen", type="text", placeholder="Nuo", ng-model="restaurant.hours.monOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.monOpen.$dirty && restaurantForm.monOpen.$invalid")
                            span(ng-if="restaurantForm.monOpen.$error.pattern || restaurantForm.monOpen.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="monClosed")
                    .col-md-2
                        input.form-control(name="monClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.monClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.monClosed.$dirty && restaurantForm.monClosed.$invalid")
                            span(ng-if="restaurantForm.monClosed.$error.pattern || restaurantForm.monClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="tueClosed") Antradienis
                    .col-md-2
                        input.form-control(name="tueClosed", type="text", placeholder="Nuo", ng-model="restaurant.hours.tueOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.tueClosed.$dirty && restaurantForm.tueClosed.$invalid")
                            span(ng-if="restaurantForm.tueClosed.$error.pattern || restaurantForm.tueClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="tueOpen")
                    .col-md-2
                        input.form-control(name="tueClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.tueClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.tueClosed.$dirty && restaurantForm.tueClosed.$invalid")
                            span(ng-if="restaurantForm.tueClosed.$error.pattern || restaurantForm.tueClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="wedOpen") Trečiadienis
                    .col-md-2
                        input.form-control(name="wedOpen", type="text", placeholder="Nuo", ng-model="restaurant.hours.wedOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.wedOpen.$dirty && restaurantForm.wedOpen.$invalid")
                            span(ng-if="restaurantForm.wedOpen.$error.pattern || restaurantForm.wedOpen.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="wedClosed")
                    .col-md-2
                        input.form-control(name="wedClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.wedClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.wedClosed.$dirty && restaurantForm.wedClosed.$invalid")
                            span(ng-if="restaurantForm.wedClosed.$error.pattern || restaurantForm.wedClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="thuOpen") Ketvirtadienis
                    .col-md-2
                        input.form-control(name="thuClosed", type="text", placeholder="Nuo", ng-model="restaurant.hours.thuOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.thuClosed.$dirty && restaurantForm.thuClosed.$invalid")
                            span(ng-if="restaurantForm.thuClosed.$error.pattern || restaurantForm.thuClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="thuClosed")
                    .col-md-2
                        input.form-control(name="thuClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.thuClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.thuClosed.$dirty && restaurantForm.thuClosed.$invalid")
                            span(ng-if="restaurantForm.thuClosed.$error.pattern || restaurantForm.thuClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="friOpen") Penktadienis
                    .col-md-2
                        input.form-control(name="friOpen", type="text", placeholder="Nuo", ng-model="restaurant.hours.friOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.friOpen.$dirty && restaurantForm.friOpen.$invalid")
                            span(ng-if="restaurantForm.friOpen.$error.pattern || restaurantForm.friOpen.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="friClosed")
                    .col-md-2
                        input.form-control(name="friClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.friClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.friClosed.$dirty && restaurantForm.friClosed.$invalid")
                            span(ng-if="restaurantForm.friClosed.$error.pattern || restaurantForm.friClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="satOpen") Šeštadienis
                    .col-md-2
                        input.form-control(name="satOpen", type="text", placeholder="Nuo", ng-model="restaurant.hours.satOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.satOpen.$dirty && restaurantForm.satOpen.$invalid")
                            span(ng-if="restaurantForm.satOpen.$error.pattern || restaurantForm.satOpen.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="satClosed")
                    .col-md-2
                        input.form-control(name="satClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.satClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.satClosed.$dirty && restaurantForm.satClosed.$invalid")
                            span(ng-if="restaurantForm.satClosed.$error.pattern || restaurantForm.satClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="sunOpen") Sekmadienis
                    .col-md-2
                        input.form-control(name="sunOpen", type="text", placeholder="Nuo", ng-model="restaurant.hours.sunOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.sunOpen.$dirty && restaurantForm.sunOpen.$invalid")
                            span(ng-if="restaurantForm.sunOpen.$error.pattern || restaurantForm.sunOpen.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="sunClosed")
                    .col-md-2
                        input.form-control(name="sunClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.sunClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.sunClosed.$dirty && restaurantForm.sunClosed.$invalid")
                            span(ng-if="restaurantForm.sunClosed.$error.pattern || restaurantForm.sunClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="tag") Žymės
                    .col-md-10
                        select(ng-model='tag', ng-change="onTagChange(tag)", ng-options="tag.name for tag in tags | orderBy: 'name'").form-control
                            option(value='') Pasirinkti
                        div(ng-repeat='tag in restaurant.tags | orderBy') {{tag}}
                            span(ng-click="removeTag(tag)").glyphicon.glyphicon-minus
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            a.btn.btn-danger(href="/restaurants") Atšaukti
                            | &nbsp;
                            button.btn.btn-success(ng-click="updateRestaurant()", ng-disabled="signupForm.$invalid") Atnaujinti

public/app/restaurants/restaurant-edit/restaurant-edit.html
<div class="container"><div class="well"><form name="restaurantForm" class="form-horizontal"><fieldset><legend>Restorano atnaujinimas</legend><div class="form-group"><label for="name" class="col-md-2 control-label">Pavadinimas</label><div class="col-md-10"><input name="name" type="text" placeholder="Pavadinimas" ng-model="restaurant.name" required="required" class="form-control"/><div ng-if="restaurantForm.name.$dirty &amp;&amp; restaurantForm.name.$invalid" class="error-message"><span ng-if="restaurantForm.name.$error.required">Įrašykite restorano pavadinimą</span></div></div></div><div class="form-group"><label for="description" class="col-md-2 control-label">Aprašymas</label><div class="col-md-10"><textarea name="description" rows="5" type="text" placeholder="Aprašymas" ng-model="restaurant.description" required="required" class="form-control"></textarea><div ng-if="restaurantForm.description.$dirty &amp;&amp; restaurantForm.description.$invalid" class="error-message"><span ng-if="restaurantForm.description.$error.required">Įrašykite restorano aprašymą</span></div></div></div><div class="form-group"><label for="Email" class="col-md-2 control-label">El. paštas</label><div class="col-md-10"><input name="email" type="email" placeholder="Elektroninis paštas" ng-model="restaurant.email" class="form-control"/><div ng-if="restaurantForm.email.$dirty &amp;&amp; restaurantForm.email.$invalid" class="error-message"><span ng-if="restaurantForm.email.$error.email">Elektroninis paštas neteisingas</span></div></div></div><div class="form-group"><label for="Phone" class="col-md-2 control-label">Telefonas</label><div class="col-md-10"><input name="Phone" type="text" placeholder="Telefonas" ng-model="restaurant.phone" class="form-control"/></div></div><div class="form-group"><label for="Website" class="col-md-2 control-label">Tinklalapis</label><div class="col-md-10"><input name="Website" type="text" placeholder="Tinklalapis" ng-model="restaurant.website" class="form-control"/></div></div><div class="form-group"><label for="latitude" class="col-md-2 control-label">Platuma</label><div class="col-md-10"><input name="latitude" type="text" placeholder="Platuma" ng-model="restaurant.location.latitude" class="form-control"/></div></div><div class="form-group"><label for="longitude" class="col-md-2 control-label">Ilguma</label><div class="col-md-10"><input name="longitude" type="text" placeholder="Ilguma" ng-model="restaurant.location.longitude" class="form-control col-md-3"/></div></div><div class="form-group"><label for="facebookId" class="col-md-2 control-label">Facebook ID</label><div class="col-md-10"><input name="facebookId" type="text" placeholder="Facebook ID" ng-model="restaurant.facebookId" class="form-control col-md-3"/></div></div><div class="form-group"><label for="monOpen" class="col-md-2 control-label">Pirmadienis</label><div class="col-md-2"><input name="monOpen" type="text" placeholder="Nuo" ng-model="restaurant.hours.monOpen" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.monOpen.$dirty &amp;&amp; restaurantForm.monOpen.$invalid" class="error-message"><span ng-if="restaurantForm.monOpen.$error.pattern || restaurantForm.monOpen.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="monClosed" class="col-md-2 control-label"></label><div class="col-md-2"><input name="monClosed" type="text" placeholder="Iki" ng-model="restaurant.hours.monClosed" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.monClosed.$dirty &amp;&amp; restaurantForm.monClosed.$invalid" class="error-message"><span ng-if="restaurantForm.monClosed.$error.pattern || restaurantForm.monClosed.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="tueClosed" class="col-md-2 control-label">Antradienis</label><div class="col-md-2"><input name="tueClosed" type="text" placeholder="Nuo" ng-model="restaurant.hours.tueOpen" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.tueClosed.$dirty &amp;&amp; restaurantForm.tueClosed.$invalid" class="error-message"><span ng-if="restaurantForm.tueClosed.$error.pattern || restaurantForm.tueClosed.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="tueOpen" class="col-md-2 control-label"></label><div class="col-md-2"><input name="tueClosed" type="text" placeholder="Iki" ng-model="restaurant.hours.tueClosed" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.tueClosed.$dirty &amp;&amp; restaurantForm.tueClosed.$invalid" class="error-message"><span ng-if="restaurantForm.tueClosed.$error.pattern || restaurantForm.tueClosed.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="wedOpen" class="col-md-2 control-label">Trečiadienis</label><div class="col-md-2"><input name="wedOpen" type="text" placeholder="Nuo" ng-model="restaurant.hours.wedOpen" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.wedOpen.$dirty &amp;&amp; restaurantForm.wedOpen.$invalid" class="error-message"><span ng-if="restaurantForm.wedOpen.$error.pattern || restaurantForm.wedOpen.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="wedClosed" class="col-md-2 control-label"></label><div class="col-md-2"><input name="wedClosed" type="text" placeholder="Iki" ng-model="restaurant.hours.wedClosed" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.wedClosed.$dirty &amp;&amp; restaurantForm.wedClosed.$invalid" class="error-message"><span ng-if="restaurantForm.wedClosed.$error.pattern || restaurantForm.wedClosed.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="thuOpen" class="col-md-2 control-label">Ketvirtadienis</label><div class="col-md-2"><input name="thuClosed" type="text" placeholder="Nuo" ng-model="restaurant.hours.thuOpen" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.thuClosed.$dirty &amp;&amp; restaurantForm.thuClosed.$invalid" class="error-message"><span ng-if="restaurantForm.thuClosed.$error.pattern || restaurantForm.thuClosed.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="thuClosed" class="col-md-2 control-label"></label><div class="col-md-2"><input name="thuClosed" type="text" placeholder="Iki" ng-model="restaurant.hours.thuClosed" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.thuClosed.$dirty &amp;&amp; restaurantForm.thuClosed.$invalid" class="error-message"><span ng-if="restaurantForm.thuClosed.$error.pattern || restaurantForm.thuClosed.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="friOpen" class="col-md-2 control-label">Penktadienis</label><div class="col-md-2"><input name="friOpen" type="text" placeholder="Nuo" ng-model="restaurant.hours.friOpen" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.friOpen.$dirty &amp;&amp; restaurantForm.friOpen.$invalid" class="error-message"><span ng-if="restaurantForm.friOpen.$error.pattern || restaurantForm.friOpen.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="friClosed" class="col-md-2 control-label"></label><div class="col-md-2"><input name="friClosed" type="text" placeholder="Iki" ng-model="restaurant.hours.friClosed" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.friClosed.$dirty &amp;&amp; restaurantForm.friClosed.$invalid" class="error-message"><span ng-if="restaurantForm.friClosed.$error.pattern || restaurantForm.friClosed.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="satOpen" class="col-md-2 control-label">Šeštadienis</label><div class="col-md-2"><input name="satOpen" type="text" placeholder="Nuo" ng-model="restaurant.hours.satOpen" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.satOpen.$dirty &amp;&amp; restaurantForm.satOpen.$invalid" class="error-message"><span ng-if="restaurantForm.satOpen.$error.pattern || restaurantForm.satOpen.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="satClosed" class="col-md-2 control-label"></label><div class="col-md-2"><input name="satClosed" type="text" placeholder="Iki" ng-model="restaurant.hours.satClosed" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.satClosed.$dirty &amp;&amp; restaurantForm.satClosed.$invalid" class="error-message"><span ng-if="restaurantForm.satClosed.$error.pattern || restaurantForm.satClosed.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="sunOpen" class="col-md-2 control-label">Sekmadienis</label><div class="col-md-2"><input name="sunOpen" type="text" placeholder="Nuo" ng-model="restaurant.hours.sunOpen" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.sunOpen.$dirty &amp;&amp; restaurantForm.sunOpen.$invalid" class="error-message"><span ng-if="restaurantForm.sunOpen.$error.pattern || restaurantForm.sunOpen.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="sunClosed" class="col-md-2 control-label"></label><div class="col-md-2"><input name="sunClosed" type="text" placeholder="Iki" ng-model="restaurant.hours.sunClosed" ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/" ng-maxlength="5" class="form-control"/><div ng-if="restaurantForm.sunClosed.$dirty &amp;&amp; restaurantForm.sunClosed.$invalid" class="error-message"><span ng-if="restaurantForm.sunClosed.$error.pattern || restaurantForm.sunClosed.$error.maxlength">Laiko formatas neteisingas (HH:mm)</span></div></div></div><div class="form-group"><label for="tag" class="col-md-2 control-label">Žymės</label><div class="col-md-10"><select ng-model="tag" ng-change="onTagChange(tag)" ng-options="tag.name for tag in tags | orderBy: 'name'" class="form-control"><option value="">Pasirinkti</option></select><div ng-repeat="tag in restaurant.tags | orderBy">{{tag}}<span ng-click="removeTag(tag)" class="glyphicon glyphicon-minus"></span></div></div></div><div class="form-group"><div class="col-md-10 col-md-offset-2"><div class="pull-right"><a href="/restaurants" class="btn btn-danger">Atšaukti</a>&nbsp;<button ng-click="updateRestaurant()" ng-disabled="signupForm.$invalid" class="btn btn-success">Atnaujinti</button></div></div></div></fieldset></form></div></div>
