public/app/account/navbar-login.jade
.navbar-right(ng-controller="mvNavBarLoginCtrl")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        button.btn.btn-default(ng-click="redirectToFacebook()") Prisijungti
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li(ng-if="identity.currentUser.isAdmin()")
                    a(href='/restaurants') Restoranai
                li(ng-if="identity.currentUser.isAdmin()")
                    a(href="/admin/users") Vartotojai
                li
                    a(href="/profile", ng-if='identity.currentUser.isAdmin()') Profilis
                li
                    a(href="", ng-click="signout()") Atsijungti

public/app/account/navbar-login.html
<div ng-controller="mvNavBarLoginCtrl" class="navbar-right"><form ng-hide="identity.isAuthenticated()" class="navbar-form"><button ng-click="redirectToFacebook()" class="btn btn-default">Prisijungti</button></form><ul ng-show="identity.isAuthenticated()" class="nav navbar-nav navbar-right"><li class="dropdown"><a href="" data-toggle="dropdown" class="dropdown-toggle">{{identity.currentUser.firstName + " " + identity.currentUser.lastName}}<b class="caret"></b></a><ul class="dropdown-menu"><li ng-if="identity.currentUser.isAdmin()"><a href="/restaurants">Restoranai</a></li><li ng-if="identity.currentUser.isAdmin()"><a href="/admin/users">Vartotojai</a></li><li><a href="/profile" ng-if="identity.currentUser.isAdmin()">Profilis</a></li><li><a href="" ng-click="signout()">Atsijungti</a></li></ul></li></ul></div>
