public/app/account/profile.html
<div class="container"><div class="well"><form name="profileForm" class="form-horizontal"><fieldset><legend>Vartotojo profilis</legend><div class="form-group"><label for="email" class="col-md-2 control-label">Elektroninis paštas</label><div class="col-md-10"><input name="email" type="email" placeholder="Elektroninis paštas" ng-model="email" required="required" class="form-control"/></div></div><div class="form-group"><label for="fname" class="col-md-2 control-label">Vardas</label><div class="col-md-10"><input name="fname" type="text" placeholder="Vardas" ng-model="fname" required="required" class="form-control"/></div></div><div class="form-group"><label for="lname" class="col-md-2 control-label">Pavardė</label><div class="col-md-10"><input name="lname" type="text" placeholder="Pavardė" ng-model="lname" required="required" class="form-control"/></div></div><div class="form-group"><label for="password" class="col-md-2 control-label">Slaptažodis</label><div class="col-md-10"><input name="password" type="password" placeholder="Slaptažodis" ng-model="password" class="form-control"/></div></div><div class="form-group"><div class="col-md-10 col-md-offset-2"><div class="pull-right"><a href="/" class="btn btn-danger">Atšaukti</a>&nbsp;<button ng-click="update()" ng-disabled="signupForm.$invalid" class="btn btn-success">Išsaugoti</button></div></div></div></fieldset></form></div></div>

public/app/account/profile.jade
.container
  .well
    form.form-horizontal(name="profileForm")
      fieldset
        legend Vartotojo profilis
        .form-group
          label.col-md-2.control-label(for="email") Elektroninis paštas
          .col-md-10
            input.form-control(name="email", type="email", placeholder="Elektroninis paštas", ng-model="email", required)
        .form-group
          label.col-md-2.control-label(for="fname") Vardas
          .col-md-10
            input.form-control(name="fname", type="text", placeholder="Vardas", ng-model="fname", required)
        .form-group
          label.col-md-2.control-label(for="lname") Pavardė
          .col-md-10
            input.form-control(name="lname", type="text", placeholder="Pavardė", ng-model="lname", required)
        .form-group
          label.col-md-2.control-label(for="password") Slaptažodis
          .col-md-10
            input.form-control(name="password", type="password", placeholder="Slaptažodis", ng-model="password")
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              a.btn.btn-danger(href="/") Atšaukti
              | &nbsp;
              button.btn.btn-success(ng-click="update()", ng-disabled="signupForm.$invalid") Išsaugoti
