public/app/account/signup.html
<div class="container"><div class="well"><form name="signupForm" class="form-horizontal"><fieldset><legend>Naujas vartotojas</legend><div class="form-group"><label for="email" class="col-md-2 control-label">Elektroninis paštas</label><div class="col-md-10"><input name="email" type="email" placeholder="Elektroninis paštas" ng-model="email" required="required" class="form-control"/></div></div><div class="form-group"><label for="password" class="col-md-2 control-label">Slaptažodis</label><div class="col-md-10"><input name="password" type="password" placeholder="Slaptažodis" ng-model="password" required="required" class="form-control"/></div></div><div class="form-group"><label for="fname" class="col-md-2 control-label">Vardas</label><div class="col-md-10"><input name="fname" type="text" placeholder="Vardas" ng-model="fname" required="required" class="form-control"/></div></div><div class="form-group"><label for="lname" class="col-md-2 control-label">Pavardė</label><div class="col-md-10"><input name="lname" type="text" placeholder="Pavardė" ng-model="lname" required="required" class="form-control"/></div></div><div class="form-group"><div class="col-md-10 col-md-offset-2"><div class="pull-right"><button ng-click="signup()" ng-disabled="signupForm.$invalid" class="btn btn-primary">Išsaugoti</button>&nbsp;<a href="/" class="btn btn-default">Atšaukti</a></div></div></div></fieldset></form></div></div>

public/app/account/signup.jade
.container
  .well
    form.form-horizontal(name="signupForm")
      fieldset
        legend Naujas vartotojas
        .form-group
          label.col-md-2.control-label(for="email") Elektroninis paštas
          .col-md-10
            input.form-control(name="email", type="email", placeholder="Elektroninis paštas", ng-model="email", required)
        .form-group
          label.col-md-2.control-label(for="password") Slaptažodis
          .col-md-10
            input.form-control(name="password", type="password", placeholder="Slaptažodis", ng-model="password", required)
        .form-group
          label.col-md-2.control-label(for="fname") Vardas
          .col-md-10
            input.form-control(name="fname", type="text", placeholder="Vardas", ng-model="fname", required)
        .form-group
          label.col-md-2.control-label(for="lname") Pavardė
          .col-md-10
            input.form-control(name="lname", type="text", placeholder="Pavardė", ng-model="lname", required)
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="signup()", ng-disabled="signupForm.$invalid") Išsaugoti
              | &nbsp;
              a.btn.btn-default(href="/") Atšaukti
