public/app/main/main.jade
header
    .row
        .col-lg-12
            mv-google-map-directive(restaurants="restaurants", search="search", selected-tag="selectedTag", selected-distance="selectedDistance", current-location="currentLocation")
.container
    .row
        #filter-panel.collapse.filter-panel
            .panel.panel-default
                .panel-body
                    form.form-inline(role='form')
                        .form-group
                            label.filter-col(style='margin-right:0;', for='pref-search') Paieška:
                            input#pref-search.form-control.input-sm(type='text', ng-model='search.data.name', placeholder="Restorano vardas", typeahead='restaurant as restaurant.name for restaurant in restaurants | filter:{name:$viewValue}', typeahead-on-select="onTypeAHeadSelect(search.data.name)")
                        .form-group
                            label.filter-col(style='margin-right:0;', for='pref-city') Miestas:
                            select#pref-city.form-control(ng-model='search.data.city')
                                option(value='') Pasirinkti
                                option(value='Vilnius') Vilnius
                                option(value='Kaunas') Kaunas
                        .form-group
                            label.filter-col(style='margin-right:0;', for='pref-tags') Kategorija:
                            select#pref-category.form-control(ng-model='selectedTag', ng-options="tag.name for tag in tags | orderBy: 'name'")
                                option(value='') Pasirinkti
                        .form-group(ng-show='currentLocation.coords')
                            label.filter-col(style='margin-right:0;', for='pref-search') Atstumas (km):
                            input#pref-distance.form-control.input-sm(type='text', ng-model='selectedDistance', placeholder='0.5')
        button.btn.btn-default.center-block(type='button', data-toggle='collapse', data-target='#filter-panel').margin-top
            span.glyphicon.glyphicon-cog
            |  Išplėstinė paieška
    hr
    .row
        .col-sm-12
            div.text-center
                h2.text-center Savaitės TOP
    hr
    .row
        .col-sm-4(ng-if="mostVisitedRestaurantWeekly._id")
            h2 Daugiausiai aplankytas
            img(ng-src="{{mostVisitedRestaurantWeekly.mainPicture.url}}" alt="mostVisitedPicture", ng-click="goToDetails(mostVisitedRestaurantWeekly._id)" err-src="/noImage.png").img-responsive.restaurant-image
            h3.text-center.pointer(ng-click="goToDetails(mostVisitedRestaurantWeekly._id)") {{mostVisitedRestaurantWeekly.name}}
        .col-sm-4(ng-if="mostLikesRestaurantWeekly._id")
            h2 Daugiausiai like'ų
            img(ng-src="{{mostLikesRestaurantWeekly.mainPicture.url}}" alt="mostLiked", ng-click="goToDetails(mostLikesRestaurantWeekly._id)" err-src="/noImage.png").img-responsive.restaurant-image
            h3.text-center.pointer(ng-click="goToDetails(mostLikesRestaurantWeekly._id)") {{mostLikesRestaurantWeekly.name}}
        .col-sm-4(ng-if="mostTalkedAboutRestaurantWeekly._id")
            h2 Daugiausiai apkalbėtas
            img(ng-src="{{mostTalkedAboutRestaurantWeekly.mainPicture.url}}" alt="mostVisitedPicture", ng-click="goToDetails(mostTalkedAboutRestaurantWeekly._id)" err-src="/noImage.png").img-responsive.restaurant-image
            h3.text-center.pointer(ng-click="goToDetails(mostTalkedAboutRestaurantWeekly._id)") {{mostTalkedAboutRestaurantWeekly.name}}
    hr

public/app/main/main.html
<header><div class="row"><div class="col-lg-12"><mv-google-map-directive restaurants="restaurants" search="search" selected-tag="selectedTag" selected-distance="selectedDistance" current-location="currentLocation"></mv-google-map-directive></div></div></header><div class="container"><div class="row"><div id="filter-panel" class="collapse filter-panel"><div class="panel panel-default"><div class="panel-body"><form role="form" class="form-inline"><div class="form-group"><label style="margin-right:0;" for="pref-search" class="filter-col">Paieška:</label><input id="pref-search" type="text" ng-model="search.data.name" placeholder="Restorano vardas" typeahead="restaurant as restaurant.name for restaurant in restaurants | filter:{name:$viewValue}" typeahead-on-select="onTypeAHeadSelect(search.data.name)" class="form-control input-sm"/></div><div class="form-group"><label style="margin-right:0;" for="pref-city" class="filter-col">Miestas:</label><select id="pref-city" ng-model="search.data.city" class="form-control"><option value="">Pasirinkti</option><option value="Vilnius">Vilnius</option><option value="Kaunas">Kaunas</option></select></div><div class="form-group"><label style="margin-right:0;" for="pref-tags" class="filter-col">Kategorija:</label><select id="pref-category" ng-model="selectedTag" ng-options="tag.name for tag in tags | orderBy: 'name'" class="form-control"><option value="">Pasirinkti</option></select></div><div ng-show="currentLocation.coords" class="form-group"><label style="margin-right:0;" for="pref-search" class="filter-col">Atstumas (km):</label><input id="pref-distance" type="text" ng-model="selectedDistance" placeholder="0.5" class="form-control input-sm"/></div></form></div></div></div><button type="button" data-toggle="collapse" data-target="#filter-panel" class="btn btn-default center-block margin-top"><span class="glyphicon glyphicon-cog"></span> Išplėstinė paieška</button></div><hr/><div class="row"><div class="col-sm-12"><div class="text-center"><h2 class="text-center">Savaitės TOP</h2></div></div></div><hr/><div class="row"><div ng-if="mostVisitedRestaurantWeekly._id" class="col-sm-4"><h2>Daugiausiai aplankytas</h2><img ng-src="{{mostVisitedRestaurantWeekly.mainPicture.url}}" alt="mostVisitedPicture" ng-click="goToDetails(mostVisitedRestaurantWeekly._id)" err-src="/noImage.png" class="img-responsive restaurant-image"/><h3 ng-click="goToDetails(mostVisitedRestaurantWeekly._id)" class="text-center pointer">{{mostVisitedRestaurantWeekly.name}}</h3></div><div ng-if="mostLikesRestaurantWeekly._id" class="col-sm-4"><h2>Daugiausiai like'ų</h2><img ng-src="{{mostLikesRestaurantWeekly.mainPicture.url}}" alt="mostLiked" ng-click="goToDetails(mostLikesRestaurantWeekly._id)" err-src="/noImage.png" class="img-responsive restaurant-image"/><h3 ng-click="goToDetails(mostLikesRestaurantWeekly._id)" class="text-center pointer">{{mostLikesRestaurantWeekly.name}}</h3></div><div ng-if="mostTalkedAboutRestaurantWeekly._id" class="col-sm-4"><h2>Daugiausiai apkalbėtas</h2><img ng-src="{{mostTalkedAboutRestaurantWeekly.mainPicture.url}}" alt="mostVisitedPicture" ng-click="goToDetails(mostTalkedAboutRestaurantWeekly._id)" err-src="/noImage.png" class="img-responsive restaurant-image"/><h3 ng-click="goToDetails(mostTalkedAboutRestaurantWeekly._id)" class="text-center pointer">{{mostTalkedAboutRestaurantWeekly.name}}</h3></div></div><hr/></div>
